<div [formGroup]="formGroup">
  <mat-form-field
    class="example-full-width"
    appearance="fill"
    style="width: 40vw"
  >
    <input
      type="number"
      matInput
      [placeholder]="titulo"
      [formControlName]="controlNome"
      [name]="controlNome"
      [min]="min"
      [max]="max"
      [step]="step"
    />
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')"
      >Preço obrigatorio</mat-error
    >
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'min')"
      >Campo precisa ter no minimo o valor
      {{ validacao.lengthValidar(formControl, "min") }}</mat-error
    >
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'max')"
      >Campo precisa ter no maximo o valor
      {{ validacao.lengthValidar(formControl, "max") }}</mat-error
    >
  </mat-form-field>
</div>
